site:
    title: "纸小墨官方博客"
    subtitle: "构建只为纯粹书写的博客"
    limit: 10
    theme: theme
    lang: zh-cn
    url: "http://www.chole.io/blog"
    comment: username
    logo: "-/images/avatar.png"
    # link: "{category}/{year}/{month}/{day}/{title}.html"
    # link: "{year}{month}{day}{hour}{minute}{second}.html"
    # root: "/blog"

authors:
    me:
        name: "纸小墨"
        intro: "构建只为纯粹书写的博客"
        avatar: "-/images/avatar.png"

build:
    # output: "public"
    port: 8000
    # These files are copied to the public folder when 'ink build' is used
    copy:
        - "source/images"
    # Executed commands when 'ink publish' is used
    publish: |
        git add . -A
        git commit -m "update"
        git push origin
