<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1">
        <meta name="keywords" content="{{.Site.Title}}, {{.Site.Subtitle}}">
        <meta name="description" content="{{.Site.Subtitle}}">
        <link rel="stylesheet" href="{{.Site.Root}}/bundle/index.css">
        <title>{{.Site.Title}}</title>
    </head>
    <body>
        <article class="container">
            {{template "header" .}}
            <article class="main tag">
                <header class="site">
                    <h1 class="title">{{.Site.Title}}</h1>
                    <h2 class="subtitle">{{.Site.Subtitle}}</h2>
                </header>
                <header class="header">
                    <span class="title">{{i18n "tag"}}</span>
                    <span class="subtitle">{{.Total}} {{i18n "articles"}}</span>
                </header>
                <ul class="tag-list">
                    {{range .Tag}}
                    <li class="tag-item">
                        <div class="tag-name">{{.Name}}<span class="tag-count"> ({{.Count}})</span></div>
                        <ul class="article-list">
                            {{range .Articles}}
                            <li class="article-item">
                                <span class="date">{{.Date}}</span>
                                <a href="{{.Link}}">{{.Title}}</a>
                            </li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </article>
        </article>
        {{template "footer" .}}
    </body>
    <script src="{{.Site.Root}}/bundle/index.js"></script>
</html>
