@font-face {
  font-family: 'PTSerif-Regular';
  src: url('fonts/PTSerif-Regular.eot');
  src: url('fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/PTSerif-Regular.otf') format('otf'), url('fonts/PTSerif-Regular.woff') format('woff'), url('fonts/PTSerif-Regular.ttf') format('truetype'), url('fonts/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSerif-Bold';
  src: url('fonts/PTSerif-Bold.eot');
  src: url('fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/PTSerif-Bold.otf') format('otf'), url('fonts/PTSerif-Bold.woff') format('woff'), url('fonts/PTSerif-Bold.ttf') format('truetype'), url('fonts/PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.font-main {
  font-family: Arial, Heltivitar, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
.font-content {
  font-family: PTSerif-Regular, Georgia, Cambria, "Times New Roman", Times, serif, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
.font-code {
  font-family: consolas, monaco, "Source Code Pro", monospace;
}
html,
body,
input {
  margin: 0;
  font-family: Arial, Heltivitar, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}
*::selection {
  background-color: #ffe5d8;
}
