@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes mixin {
    0% {
        opacity: .2;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
      opacity: 1;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      opacity: .2;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}
