$greenLighter: #94ffd7;
$green: #009a61;
$greenDark: #004e31;

$darker: #111;
$dark: #222;
$darkLight: #2E2E2E;
$darkLighter: #4A4A4A;
$black: #3A4145;
$greyDark: #666;
$grey: #B8B8B8;
$greyLight: #9EABB3;
$greyLighter: #EFEFEF;
$whiteDarker: #F4F4F4;
$whiteDark: #CCC;
$whiteLighter: #E3EDF3;
$whiteLight: #F7FAFB;
$white: #fff;

$yellowLight: #fdffb6;
