html,
body,
input {
  margin: 0;
  font: 400 1em/1.8 "arial", "heltivitar", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}
*::selection {
  background-color: #ffe5d8;
}
