@import "global";

@define-mixin hover {
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

button {
    border: 0;
    &:focus {
        outline: 1px dotted #aaa;
    }
}

.button {
    text-align: center;
    background-color: #555;
    color: white;
    line-height: 31px;
    @mixin hover;
    &.button-cube {
        padding: 0px 14px;
        border-radius: 3px;
        .fa {
            font-size: 14px;
            margin-right: 5px;
        }
    }
    &.button-circle {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        margin-right: 0;
        .fa {
            font-size: 16px;
        }
    }
}

#tooltip {
    left: 0;
    right: 0;
    height: 35px;
    position: absolute;
    margin-top: 28px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    .content {
        padding: 8px 18px;
        text-align: center;
        color: #FFF;
        background-color: #00B106;
        border-radius: 30px;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}

#left {
    padding: 30px;
    min-width: 42px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    overflow: auto;
    transition: width 0.25s;
    border-right: 1px dashed #ddd;
    background-color: #fefefe;
    &.close {
        border-right: 0;
        background-color: transparent;
        .list {
            .theme, .help, .setting, .create {
                display: none;
            }
        }
    }
    .list {
        position: fixed;
        width: 40px;
        text-align: center;
        li {
            margin-bottom: 20px;
            .button {
                &.inbox {
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                    line-height: 40px;
                    background-color: #a20000;
                }
                &.setting {
                    margin-top: 15px;
                }
            }
        }
    }
}

#search-wrap {
    position: fixed;
    top: 0;
    left: 100px;
    z-index: 2;
    width: 215px;
    padding-top: 44px;
    padding-bottom: 30px;
    color: #aaa;
    background-image: linear-gradient(to top, transparent, white 50%);
    &.focus {
        color: #555;
    }
    .fa {
        position: absolute;
        margin-top: 0;
        font-size: 17px;
    }
    #search {
        padding-left: 25px;
        border: 0;
        display: block;
        width: 100%;
        background-color: transparent;
    }
}

#list {
    width: 200px;
    margin-left: 40px;
    padding: 13px 30px;
    padding-top: 0;
    padding-right: 0;
    margin-top: 70px;
    .item {
        padding-top: 20px;
        padding-bottom: 20px;
        &.selected {
            .title {
                color: #000;
                border-left: 4px solid #702500;
            }
            .preview {
                color: #555;
                margin-top: 10px;
            }
        }
        .head {
            .date {
                color: #aaa;
            }
        }
        .title {
            color: #888;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
            margin-left: -13px;
            padding-left: 9px;
            border-left: 4px solid transparent;
            box-sizing: border-box;
        }
        .preview {
            color: #ccc;
            margin-top: 10px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#right {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    float: right;
    li {
        float: right;
        margin-left: 20px;
        .button {
            &.deploy {
                background-color: #777;
            }
            &.remove {
                background-color: #a20000;
            }
        }
    }
}

#header {
    padding: 90px 0;
    padding-bottom: 20px;
    margin: 0 20px;
    z-index: 1;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to top, transparent, white 20%);
    &.edit {
        .title {
            i {
                display: inline-block;
                margin-left: -40px;
                margin-top: 4px;
                color: #ccc;
                position: absolute;
            }
            span {
                border-bottom: 2px dashed #ccc;
            }
        }
    }
    .title {
        i {
            display: none;
        }
        margin: 0 auto;
        max-width: 600px;
        font-size: 32px;
        font-weight: bold;
        color: #555;
    }
    .tag {
        font-style: italic;
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 3px 10px;
        margin: 10px 4px;
        color: #aaa;
        font-size: 12px;
        display: inline-block;
    }
}

#config-editor, #content-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    .ace_line_group {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }
    .ace_cursor {
        color: #777;
        border-left: 2px solid;
        transition: opacity 0.3s ease-in-out;
        margin-top: 4px;
        height: 20px !important;
    }
    .ace_marker-layer {
        .ace_selection {
            background: #f0f0f0;
        }
        .ace_active-line {
            background: #fbfbfb;
        }
    }
}

#loading {
    font-size: 46px;
    color: #aaa;
    margin-top: 20px;
}

#confirm {
    position: absolute;
    left: 27px;
    top: 75px;
    background-color: #555;
    border-radius: 3px;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #555 transparent;
    }
}
