@import "global";

.hover {
    // cursor: pointer;
    cursor: default;
    &:hover {
        opacity: 0.9;
    }
}

.button {
    text-align: center;
    background-color: #555;
    color: white;
    line-height: 31px;
    .hover;
    &.button-cube {
        padding: 0px 14px;
        border-radius: 3px;
        .fa {
            font-size: 14px;
            margin-right: 5px;
        }
    }
    &.button-circle {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        margin-right: 0;
        .fa {
            font-size: 16px;
        }
    }
}
#left {
    padding: 30px;
    min-width: 42px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    overflow: auto;
    .vendor(transition, width 0.25s);
    border-right: 1px dashed #ddd;
    background-color: #fefefe;
    &.close {
        border-right: 0;
        background-color: transparent;
        .list {
            .theme, .help, .setting, .create {
                display: none;
            }
        }
    }
    .list {
        position: fixed;
        width: 40px;

        .button {
            margin: 0 auto;
            margin-bottom: 20px;
            &.inbox {
                width: 40px;
                height: 40px;
                font-size: 18px;
                line-height: 40px;
                background-color: #a20000;
            }
            &.setting {
                margin-top: 15px;
            }
        }
    }
}
#search-wrap {
    position: fixed;
    top: 0;
    rigth: 0;
    left: 100px;
    z-index: 2;
    width: 250px;
    padding-top: 44px;
    padding-bottom: 30px;
    color: #aaa;
    background-image: linear-gradient(to top, transparent, white 50%);
    .fa {
        position: absolute;
        margin-top: 0;
        font-size: 17px;
    }
    #search {
        padding-left: 25px;
        border: 0;
        display: block;
        width: 100%;
        background-color: transparent;
    }
}
#list {
    width: 250px;
    margin-left: 40px;
    padding: 13px 30px;
    padding-top: 0;
    padding-right: 0;
    margin-top: 70px;
    .item {
        padding-top: 20px;
        padding-bottom: 20px;
        // border-bottom: 1px dashed #ccc;
        &.selected {
            .title {
                color: #000;
                border-left: 4px solid #702500;
            }
            .preview {
                color: #555;
                margin-top: 10px;
            }
        }
        .head {
            .date {
                color: #aaa;
            }
        }
        .title {
            color: #888;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
            margin-left: -13px;
            padding-left: 9px;
            border-left: 4px solid transparent;
            .vendor(box-sizing, border-box);
        }
        .preview {
            color: #ccc;
            margin-top: 10px;
        }
    }
}
#right {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: auto;
    float: right;
    .button {
        float: right;
        margin-left: 20px;
        &.deploy {
            background-color: #777;
        }
        &.remove {
            background-color: #a20000;
        }
    }
}
#header {
    // width: 100%;
    padding: 90px 0;
    padding-bottom: 20px;
    margin: 0 20px;
    z-index: 1;
    position: relative;
    text-align: center;
    // pointer-events: none;
    background-image: linear-gradient(to top, transparent, white 20%);
    .title {
        margin: 0 auto;
        max-width: 600px;
        font-size: 32px;
        font-weight: bold;
        color: #555;
    }
    span {
        font-style: italic;
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 3px 10px;
        margin: 10px 4px;
        color: #aaa;
        font-size: 12px;
        display: inline-block;
    }
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    .ace_line_group {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        .vendor(box-sizing, border-box);
    }
    .ace_cursor {
        color: #777;
        border-left: 2px solid;
        transition: opacity 0.3s ease-in-out;
        margin-top: 4px;
        height: 20px !important;
    }
    .ace_marker-layer {
        .ace_selection {
            background: #f0f0f0;
        }
        .ace_active-line {
            background: #fbfbfb;
            // background: #F2FFEF;
        }
    }
}
#loading {
    font-size: 46px;
    color: #aaa;
    margin-top: 20px;
}
