<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{.Site.Root}}/css/global.css">
        <link rel="stylesheet" href="{{.Site.Root}}/css/index.css">
        <title>ABOUT</title>
    </head>
    <body>
        <div class="container">
            {{template "header" .}}
            <div class="main page about">
                <div class="header site">
                    {{if .Site.Logo}}<div class="logo" style="background-image: url({{.Site.Logo}});"></div>{{end}}
                    <div class="title">{{.Site.Title}}</div>
                    <div class="subtitle">{{.Site.Subtitle}}</div>
                </div>
                <div class="content">
                    <h3>iMeoer</h3>
                    <p>Programmer，Love Design & ACG</p>
                    <p>Github：<a href="https://github.com/imeoer">https://github.com/imeoer</a></p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="copyright">
                {{.Site.Title}} ©
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
            </span>
            <span class="publish">Powered by <a href="http://www.inkpaper.io/" target="_blank">Ink</a></span>
        </div>
    </body>
</html>
